<div class="body-table" style="display: grid; grid-template-columns: auto;">
  <div class="title-table">
    <h3> Diretivas: </h3>
    <button mat-button class="mat-elevation-z1" [matTooltip]='tooltipAddTable' (click)="addTable()"
      [disabled]="disabledButtonAddTable">
      <mat-icon>add</mat-icon>
    </button>
  </div>

    <mat-divider class="button-speed-divider" style="width: inherit; margin: 0px 5px 0px 5px;"></mat-divider>


  <form *ngIf='components' [formGroup]="formComponente">
    <div formArrayName="components">
      <div *ngFor="let component of components.controls; let i = index" [formGroupName]='i'>

        <table class="table-button-speed-dial">
          <div formArrayName="arrayInput">
            <tr>
              <th> Diretiva
              </th>
              <th> Função </th>
              <th>
                <div class="table--title-header">
                  <!-- <div>
                    <p>Ações</p>
                  </div> -->
                  <div>
                    <button (click)="buttonEditRow()" [hidden]="disabledButtonEdit" mat-button>
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <div>
                    <button (click)="onSubmit(component.value)" [hidden]="disabledButtonSave" [matTooltip]='tooltipSave'
                      [ngClass]="formComponente.valid ? 'btn-save-ok' : 'btn-save-error'" mat-button>
                      <mat-icon>save</mat-icon>
                    </button>
                  </div>
                  <div>
                    <button (click)="addRow(i)" [disabled]="disabledButtonAddRow" mat-button>
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>

              </th>
            </tr>

            <tr *ngFor="let decorators of items(i).controls; let a = index" [formGroupName]="a">
              <td>
                <input [hidden]="!disabledButtonEdit" formControlName="decorator" matInput type="text">

                <textarea [hidden]="disabledButtonEdit" [disabled]="!disabledButtonEdit"
                  [value]="decorators.value.decorator" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  cols="60"></textarea>
              </td>
              <td>
                <div>
                  <input matInput type="text" formControlName="explicacaoDecorator" [hidden]="!disabledButtonEdit">

                  <textarea [hidden]="disabledButtonEdit" [disabled]="!disabledButtonEdit"
                    [value]="decorators.value.explicacaoDecorator" cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" cols="60"></textarea>
                  <mat-error *ngIf="formComponente.invalid">CAMPO NÃO DEVE SER VAZIO</mat-error>
                </div>
              </td>

              <td>
                <div>
                  <button (click)="removeRow(i, a, component.value)" [disabled]="disabledButtonExclude" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>

          </div>
        </table>

      </div>
    </div>
  </form>

</div>