<mat-tab-group class="tab-group"
               dynamicHeight
               mat-align-tabs="start"
               mat-stretch-tabs="false">
  <mat-tab label="OVERVIEW">
    <ng-container [ngTemplateOutlet]="overview">
    </ng-container>
  </mat-tab>
  <!-- <mat-tab label="API">
    <ng-container [ngTemplateOutlet]="api">
    </ng-container>
  </mat-tab>
  <mat-tab label="EXAMPLE">
    <ng-container [ngTemplateOutlet]="example">
    </ng-container>
  </mat-tab> -->
</mat-tab-group>

<!-- TEMPLATE 1 -->
<ng-template #overview>
  <div class="content">

    <div class="overview">

      <doc-explicacaocomponente [nome-componente]="name_component"
                                [titulo-componente]="componentitle"></doc-explicacaocomponente>

      <div class="title">
        <h3 id="comousarcomponente"> Como utilizar componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <p> Para utilização do componente {{ componentitle }}, importar {{ componentitle | NameModule }} adicionando no
        módulo destino:
      </p>

      <pre>
        <code>
          import &#123; NgModule &#125; from '@angular/core';

          import &#123; CommomModules &#125; from 'projects/virtue/lib/modules/public-api';
          import &#123; DocSecondaryloginComponent &#125; from './doc-secondarylogin.component';
          import &#123; DocSecondaryloginRoutingModule &#125; from './doc-secondarylogin-routing.module';
          <span>import &#123; SecondaryLoginModule &#125; from 'projects/virtue/lib/components/public-api';</span>

          @NgModule(&#123;
            declarations: [
              DocSecondaryloginComponent
            ],
            imports: [
              // Library
              CommomModules,
              <span>SecondaryLoginModule,</span>

              // Local
              DocSecondaryloginRoutingModule
            ]
          &#125;)
          export class DocSecondaryloginModule &#123; &#125;</code>
      </pre>

      <div class="title">
        <h3 id="html"> Inserindo HTML para utilização do componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <pre>
        <code>
        </code>
      </pre>

      <div class="title">
        <h3>
          Exemplo {{ componentitle }}
        </h3>
        <mat-divider></mat-divider>
      </div>

      <div class="example-component">

      </div>

      <div id="diretivas">

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableInput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableOutput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableViewChild"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableHostListener"></doc-tablediretivas>

      </div>

    </div>

    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
    <doc-sidenav [nomeComponente]="name_component"
                 [paramComponente]="path_component"
                 [tituloComponente]="componentitle"></doc-sidenav>
    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
  </div>
</ng-template>


<!--------- HTML BUTTON SPEED DIAL --------->
<ng-template #secondaryloginhtml>
  <pre>
    <code>
        &lt;virtue-dialog [canConfirm]='false'
                          [dialog-showheaderactions]=false
                          dialog-icon="fad fa-user-lock"
                          dialog-title="Autorização"&gt;

          &lt;div class="modal-content"&gt;

            &lt;form (keyup.enter)='onOkKeyUpEnter()'
                     (keyup.escape)='dialogRef.close(null)'
                     [formGroup]='formData'
                     autocomplete="off"&gt;

              &lt;div fxLayout="column"&gt;

                &lt;!-- MENSAGEM --&gt;
                &lt;div class="mensagem"
                        fxFlex=30
                        fxLayout="row"
                        fxLayoutGap="15px"&gt;

                  &lt;i class="fad fa-exclamation-circle fa-3x"&gt;&lt;/i&gt;

                  &lt;span&gt;Para acessar esse recurso, você precisa da autorização de um usuário com permissão mais elevada!&lt;/span&gt;

                &lt;/div&gt;

                &lt;!-- DADOS --&gt;
                &lt;div class="dados"
                fxFlex=70
                fxLayout="column"
                fxLayoutAlign="space-around center"&gt;

                &lt;!-- USUÁRIO --&gt;
                &lt;mat-form-field&gt;
                  &lt;mat-label&gt;Usuário&lt;/mat-label&gt;
                    &lt;input #inputUserName
                              autocomplete="off"
                              cdkFocusInitial
                              formControlName="UserName"
                              matInput&gt;
                    &lt;mat-error *ngIf='formData.get("UserName").hasError("required")'&gt;
                    Insira o nome de usuário!
                    &lt;/mat-error&gt;
                &lt;/mat-form-field&gt;

                &lt;!-- SENHA --&gt;
                &lt;mat-form-field&gt;
                  &lt;mat-label&gt;Senha&lt;/mat-label&gt;
                    &lt;input autocomplete="off"
                              formControlName="UserPwd"
                              matInput
                              type="password"&gt;
                    &lt;mat-error *ngIf='formData.get("UserPwd").hasError("required")'&gt;
                  Insira a senha!
                  &lt;/mat-error&gt;
                &lt;/mat-form-field&gt;

              &lt;/div&gt;

                &lt;!-- AÇÕES --&gt;
                &lt;div class="actions"
                        fxLayoutAlign="end center"
                        fxLayoutGap="5px"&gt;

                      &lt;button (click)='onOkKeyUpEnter()'
                                 [disabled]='formData.invalid'
                                 class="button-confirmar"
                                 mat-raised-button
                                 type="button"&gt;
                              OK
                      &lt;/button&gt;

                      &lt;button (click)='dialogRef.close(null)'
                                 class="button-cancelar"
                                 mat-raised-button
                                 type="button"&gt;
                              Cancelar
                      &lt;/button&gt;
                  &lt;/div&gt;

              &lt;/div&gt;

            &lt;/form&gt;

          &lt;/div&gt;

        &lt;/virtue-dialog&gt;</code>
      </pre>
</ng-template>

<!-- -------- TS BUTTON SPEED DIAL------- -->
<ng-template #secondarylogints>
  <pre>
    <code>
        // Angular
        import &#123; Component, ViewEncapsulation, Inject, ViewChild, ElementRef &#125; from '@angular/core';
        import &#123; FormBuilder, FormGroup, Validators &#125; from '@angular/forms';
        import &#123; MAT_DIALOG_DATA, MatDialogRef, MatDialog &#125; from '@angular/material/dialog';

        // Models
        import &#123; SecondaryLoginData &#125; from '@virtuetec/lib/models';
        import &#123; MessageBox &#125; from '../messagebox/messagebox';
        import &#123; MessageBoxButton, MessageBoxType &#125; from '../messagebox/messagebox.enums';

        // Virtue
        import &#123; SecondaryLoginService &#125; from './secondarylogin.service';

        @Component(&#123;
          selector: "virtue-secondarylogin",
          templateUrl: "secondarylogin.component.html",
          styleUrls: ["secondarylogin.component.scss"],
          encapsulation: ViewEncapsulation.None,
          providers: [
            SecondaryLoginService
          ]
        &#125;)
        export class SecondaryLoginComponent &#123;

          //#region Constructor

          constructor(
            private _dialog: MatDialog,
            private _formBuilder: FormBuilder,
            private _secLoginService: SecondaryLoginService,
            public dialogRef: MatDialogRef&lt;boolean&gt;,
            @Inject(MAT_DIALOG_DATA) protected dialogData: any) &#123;

            // Obtêm os parâmetros da mensagem
            if (dialogData) &#123;

              // Botões visiveis
              if (dialogData.SecondaryLoginData)
                this.secondaryLoginData = dialogData.SecondaryLoginData;

            &#125;

          &#125;

          //#endregion

          //#region Private Property

          private secondaryLoginData: SecondaryLoginData;

          //#endregion

          //#region Public Methods

          public closeForm(result: boolean): void &#123;

            this.dialogRef.close(result);

          &#125;

          public async onOkKeyUpEnter(): Promise&lt;void&gt; &#123;

            if (this.formData.invalid)
              return;

            // Atribui o usuário e senha
            this.secondaryLoginData.UserName = this.formData.value.UserName;
            this.secondaryLoginData.UserPwd = this.formData.value.UserPwd;

            try &#123;
              let ret = await this._secLoginService.AuthenticateSecondary(this.secondaryLoginData);

              this.dialogRef.close(ret);

            &#125; catch (err: any) &#123;
              let errorMessage: string = err;

              this.formData.reset();

              if (err.status == 401) &#123;
                errorMessage = "Usuário e/ou senha inválidos!";
              &#125;

              MessageBox.Show(this._dialog, errorMessage, MessageBoxButton.OK, MessageBoxType.Error).subscribe(x => &#123;
                setTimeout(() => this.inputUser.nativeElement.focus());
              &#125;);
            &#125;

          &#125;

          //#endregion

          //#region Public Properties

          @ViewChild("inputUserName") inputUser: ElementRef;

          public formData: FormGroup = this._formBuilder.group(&#123;
            UserName: ["", [Validators.required]],
            UserPwd: ["", [Validators.required]]
          &#125;);

          //#endregion

        &#125;</code>
  </pre>
</ng-template>

<!---------- CSS BUTTON SPEED DIAL------- -->
<ng-template #secondaryloginservice>
  <pre>
    <code>
          // Angular
          import &#123; HttpClient &#125; from '@angular/common/http';
          import &#123; Injectable, Injector &#125; from '@angular/core';

          // Models
          import &#123; SecondaryLoginData &#125; from '@virtuetec/lib/models';

          // Rxjs
          import &#123; lastValueFrom &#125; from 'rxjs';
          import &#123; catchError &#125; from 'rxjs/operators';

          // Virtue
          import &#123; ConfigService, ServiceCore &#125; from '@virtuetec/lib/services';

          @Injectable()
          export class SecondaryLoginService extends ServiceCore &#123;

            //#region Constructor
            constructor(
              protected injector: Injector) &#123;

              super(injector);

              this._configService = this.injector.get(ConfigService);
              this._httpClient = this.injector.get(HttpClient);

            &#125;

            //#endregion

            //#region Protected Properties

            private _configService: ConfigService;
            private _httpClient: HttpClient;


            //#endregion

            //#region Public Functions

            public async AuthenticateSecondary(secondaryLoginData: SecondaryLoginData): Promise&lt;string&gt; &#123;

              // Monta a url e o header
              var httpOptions = &#123;
                headers: &#123;
                  "Authorization": `Bearer $&#123;secondaryLoginData.Token&#125;`,
                  "EmpresaId": secondaryLoginData.EmpresaId,
                  "RecursoId": secondaryLoginData.RecursoId,
                  "RequiredUserId": secondaryLoginData.RequiredUserId,
                  "UserName": secondaryLoginData.UserName,
                  "UserPwd": secondaryLoginData.UserPwd,
                &#125;
              &#125;;
              var url: string = `$&#123;this._configService.currentConfig.apiUrl&#125;api/security/authenticatesecondary`;

              var ret = await lastValueFrom(this._httpClient.post&lt;string&gt;(url, null, httpOptions))
                .catch(err => &#123;
                  throw new Error(this.handleError(err));
                &#125;);

              return ret;

            &#125;

            //#endregion

          &#125;</code>
  </pre>
</ng-template>

<!--
<div class="border-box-complement">

  <div class="header-box-complement">
    <span class="header-title-complement">
      <h3 class="header-box-h3"> {{ componentitle }} Code</h3>
    </span>
    <span class="button-tab-hidden">
      <button (click)="hiddenTabGroupButton()" mat-fab aria-label="Example icon button with a heart icon">
        <i class="fas fa-code">
        </i>
      </button>
    </span>
  </div>

  <div class="mat-tab-group-complement" *ngIf="buttonShow">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="HTML">
        <ng-container [ngTemplateOutlet]="secondaryloginhtml">
        </ng-container>
      </mat-tab>
      <mat-tab label="TYPESCRIPT">
        <ng-container [ngTemplateOutlet]="secondarylogints">
        </ng-container>
      </mat-tab>
      <mat-tab label="SERVICE">
        <ng-container [ngTemplateOutlet]="secondaryloginservice">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <h3>
      Exemplo {{ componentitle }}
    </h3>
    <div style="justify-content: center;">

    </div>
  </div>
</div> -->
