<mat-tab-group class="tab-group"
               dynamicHeight
               mat-align-tabs="start"
               mat-stretch-tabs="false">
  <mat-tab label="OVERVIEW">
    <ng-container [ngTemplateOutlet]="overview">
    </ng-container>
  </mat-tab>
  <!-- <mat-tab label="API">
    <ng-container [ngTemplateOutlet]="api">
    </ng-container>
  </mat-tab>
  <mat-tab label="EXAMPLE">
    <ng-container [ngTemplateOutlet]="example">
    </ng-container>
  </mat-tab> -->
</mat-tab-group>

<!-- TEMPLATE 1 -->
<ng-template #overview>
  <div class="content">

    <div class="overview">

      <doc-explicacaocomponente [nome-componente]="name_component"
                                [titulo-componente]="componentitle"></doc-explicacaocomponente>

      <div class="title">
        <h3 id="comousarcomponente"> Como utilizar componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <p> Para utilização do componente {{ componentitle }}, importar {{ componentitle | NameModule }} adicionando no
        módulo destino:
      </p>

      <pre>
        <code>
          import &#123; NgModule &#125; from '@angular/core';

          import &#123; CommomModules &#125; from 'projects/virtue/lib/modules/public-api';
          import &#123; DocSectionComponent &#125; from './doc-section.component';
          import &#123; DocSectionRoutingModule &#125; from './doc-section-routing.module';
          <span>import &#123; SectionModule &#125; from 'projects/virtue/lib/components/public-api';</span>

          @NgModule(&#123;
            declarations: [
              DocSectionComponent
            ],
            imports: [
              // Library
              CommomModules,
              <span>SectionModule,</span>

              // Local
              DocSectionRoutingModule
            ]
          &#125;)
          export class DocSectionModule &#123; &#125;</code>
      </pre>

      <div class="title">
        <h3 id="html"> Inserindo HTML para utilização do componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <pre>
        <code>
        &lt;div class="section-container properties-section"
             [formGroup]='formData'&gt;

          &lt;virtue-section section-icon="fad fa-list-alt"
                          section-title="Propriedades"
                          [section-collapsable]="false"&gt;

            &lt;div fxLayoutAlign="center none"
                 fxLayoutGap="5px"&gt;

              &lt;!-- CAIXEIRO --&gt;
              &lt;mat-slide-toggle formControlName="Caixeiro"&gt;
                Caixeiro
              &lt;/mat-slide-toggle&gt;

              &lt;!-- COBRADOR --&gt;
              &lt;mat-slide-toggle formControlName="Cobrador"&gt;
                Cobrador
              &lt;/mat-slide-toggle&gt;

              &lt;!-- ENTREGADOR --&gt;
              &lt;mat-slide-toggle formControlName="Entregador"&gt;
                Entregador
              &lt;/mat-slide-toggle&gt;

              &lt;!-- GERENTE --&gt;
              &lt;mat-slide-toggle formControlName="Gerente"&gt;
                Gerente
              &lt;/mat-slide-toggle&gt;

              &lt;!-- VENDEDOR --&gt;
              &lt;mat-slide-toggle formControlName="Vendedor"&gt;
                Vendedor
              &lt;/mat-slide-toggle&gt;

            &lt;/div&gt;

          &lt;/virtue-section&gt;

        &lt;/div&gt;</code>
      </pre>

      <div class="title">
        <h3>
          Exemplo {{ componentitle }}
        </h3>
        <mat-divider></mat-divider>
      </div>

      <div class="example-component">

        <div class="section-container properties-section"
             [formGroup]='formData'>

          <virtue-section section-icon="fad fa-list-alt"
                          section-title="Propriedades"
                          [section-collapsable]="true"
                          [section-collapsed]="true">

            <div fxLayoutAlign="center none"
                 fxLayoutGap="5px">

              <!-- CAIXEIRO -->
              <mat-slide-toggle formControlName="Caixeiro">
                Caixeiro
              </mat-slide-toggle>

              <!-- COBRADOR -->
              <mat-slide-toggle formControlName="Cobrador">
                Cobrador
              </mat-slide-toggle>

              <!-- ENTREGADOR -->
              <mat-slide-toggle formControlName="Entregador">
                Entregador
              </mat-slide-toggle>

              <!-- GERENTE -->
              <mat-slide-toggle formControlName="Gerente">
                Gerente
              </mat-slide-toggle>

              <!-- VENDEDOR -->
              <mat-slide-toggle formControlName="Vendedor">
                Vendedor
              </mat-slide-toggle>

            </div>

          </virtue-section>

        </div>

      </div>

      <div id="diretivas">

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableInput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableOutput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableViewChild"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableHostListener"></doc-tablediretivas>

      </div>

    </div>

    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
    <doc-sidenav [nomeComponente]="name_component"
                 [tituloComponente]="componentitle"
                 [paramComponente]="path_component"></doc-sidenav>
    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
  </div>
</ng-template>


<!--------- HTML BUTTON SPEED DIAL --------->
<ng-template #sectionhtml>
  <pre>
    <code>
          &lt;div [ngClass]='&#123;"collapsable": collapsable&#125;'
                  class="virtue-section mat-elevation-z4"
                  fxLayout="column"&gt;

            &lt;virtue-header (click)="onClickCollapsed()"
                              [header-showdivider]=showDivider
                              [header-icon]='icon'
                              [header-title]='title'
                              [header-titlecomplement]='titleComplement'&gt;

              &lt;div class="header-actions"
                      fxLayout="row"
                      header-actions&gt;

                &lt;ng-content select="[header-actions]"&gt;&lt;/ng-content&gt;

                &lt;button *ngIf='collapsable'&gt;
                  &lt;i *ngIf="!collapsed"
                      class="fad fa-angle-right"&gt;&lt;/i&gt;
                  &lt;i *ngIf="collapsed"
                      class="fad fa-angle-down"&gt;&lt;/i&gt;
                &lt;/button&gt;

              &lt;/div&gt;

            &lt;/virtue-header&gt;

            &lt;div *ngIf="(collapsable && collapsed) || !collapsable"
                  class="section-content"&gt;
              &lt;ng-content&gt;&lt;/ng-content&gt;
            &lt;/div&gt;

          &lt;/div&gt;</code>
      </pre>
</ng-template>

<!-- -------- TS BUTTON SPEED DIAL------- -->
<ng-template #sectionts>
  <pre>
    <code>
        // Angular
        import &#123; Component, ViewEncapsulation, Input, Output, EventEmitter &#125; from '@angular/core';

        @Component(&#123;
          selector: 'virtue-section',
          templateUrl: './section.component.html',
          styleUrls: ['./section.component.scss'],
          encapsulation: ViewEncapsulation.None,
        &#125;)
        export class SectionComponent &#123;

          //#region Input Properties

          @Input("section-collapsable") collapsable: boolean = false;
          @Input("section-icon") icon: string;
          @Input("section-title") title: string;
          @Input("section-title-complement") titleComplement: string;
          @Input("section-showdivider") showDivider: boolean = true;
          @Input("section-collapsed") collapsed: boolean = false;

          //#endregion

          //#region Event Emitter

          @Output("clicked-collapsed") clickCollapsed = new EventEmitter&lt;any&gt;();

          //#endregion

          //#region Public Methods

          public onClickCollapsed(): void &#123;

            if (!this.collapsable)
              return;

            this.clickCollapsed.emit(this);

            this.collapsed = !this.collapsed;
          &#125;

          //#endregion

        &#125;</code>
  </pre>
</ng-template>

<!---------- CSS BUTTON SPEED DIAL------- -->
<ng-template #sectionservice>
  <pre>
    <code>
    </code>
  </pre>
</ng-template>

<!-- <div class="border-box-complement">

  <div class="header-box-complement">
    <span class="header-title-complement">
      <h3 class="header-box-h3"> {{ componentitle }} Code</h3>
    </span>
    <span class="button-tab-hidden">
      <button (click)="hiddenTabGroupButton()" mat-fab aria-label="Example icon button with a heart icon">
        <i class="fas fa-code">
        </i>
      </button>
    </span>
  </div>

  <div class="mat-tab-group-complement" *ngIf="buttonShow">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="HTML">
        <ng-container [ngTemplateOutlet]="sectionhtml">
        </ng-container>
      </mat-tab>
      <mat-tab label="TYPESCRIPT">
        <ng-container [ngTemplateOutlet]="sectionts">
        </ng-container>
      </mat-tab>
      <mat-tab label="SERVICE">
        <ng-container [ngTemplateOutlet]="sectionservice">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <h3>
      Exemplo {{ componentitle }}
    </h3>
    <div style="justify-content: center;">

    </div>
  </div>
</div> -->
