<div class="body-table">

  <form [formGroup]="formData"
        [hidden]="disableTable">
    <div class="title-table">
      <h3 > Diretivas: </h3>
    </div>

    <table>
      <tr>
        <th>Diretiva</th>
        <th>Função</th>
        <th class="column-icons">
          <div>
            <button (click)="buttonEditRow()"
                    [hidden]="disabledButtonEdit"
                    mat-button>
              <i class="fad fa-edit"></i>
            </button>
          </div>
          <div [hidden]="disabledButtonSave">
            <button (click)="onSubmit()"
                    [disabled]="!formValid()"
                    mat-button>
              <!-- <i class="fad fa-save" [ngClass]="formData.valid ? 'btn-save-ok' : 'btn-save-error'"></i> -->
            </button>
          </div>
          <div>
            <button (click)="addRow()" [disabled]="disabledButtonAddRow" mat-button>
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>

      <tr formArrayName="Dados" *ngFor="let dados of getDadosFormArray() trackBy: trackbyFn; let i = index">
        <ng-container [formGroupName]="i">
          <td class="column-directive">
            <div>
              <textarea formControlName="Nome" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                cols="75" matInput ></textarea>
            </div>
            <div>
              <mat-error *ngIf="isEmpty(dados.value.Nome)">{{ errorMessageIsEmpty() }}</mat-error>
            </div>
          </td>
          <td class="column-function">
            <div>
              <textarea formControlName="Descricao" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                cols="75" matInput ></textarea>
            </div>
            <div>
              <mat-error *ngIf="isEmpty(dados.value.Descricao)">{{ errorMessageIsEmpty() }}</mat-error>
            </div>
          </td>
          <td class="td-button">
            <div>
              <button  [disabled]="disabledButtonExclude" mat-icon-button>
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </ng-container>
      </tr>

    </table>

  </form>
</div>
