<mat-tab-group class="tab-group"
               dynamicHeight
               mat-align-tabs="start"
               mat-stretch-tabs="false">
  <mat-tab label="OVERVIEW">
    <ng-container [ngTemplateOutlet]="overview">
    </ng-container>
  </mat-tab>
  <!-- <mat-tab label="API">
    <ng-container [ngTemplateOutlet]="api">
    </ng-container>
  </mat-tab>
  <mat-tab label="EXAMPLE">
    <ng-container [ngTemplateOutlet]="example">
    </ng-container>
  </mat-tab> -->
</mat-tab-group>

<!-- TEMPLATE 1 -->
<ng-template #overview>
  <div class="content">

    <div class="overview">

      <doc-explicacaocomponente [nome-componente]="name_component"
                                [titulo-componente]="componentitle"></doc-explicacaocomponente>

      <div class="title">
        <h3 id="comousarcomponente"> Como utilizar componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <p> Para utilização do componente {{ componentitle }}, importar {{ componentitle | NameModule }} adicionando no
        módulo destino:
      </p>

      <pre>
        <code>
          import &#123; NgModule &#125; from '@angular/core';

          import &#123; CommomModules &#125; from 'projects/virtue/lib/modules/public-api';
          import &#123; DocSearchbarComponent &#125; from './doc-searchbar.component';
          import &#123; DocSearchbarRoutingModule &#125; from './doc-searchbar-routing.module';
          <span>import &#123; SearchBarModule &#125; from 'projects/virtue/lib/components/public-api';</span>

          @NgModule(&#123;
            declarations: [
              DocSearchbarComponent
            ],
            imports: [
              // Library
              CommomModules,
              <span>SearchBarModule,</span>

              // Local
              DocSearchbarRoutingModule
            ]
          &#125;)
          export class DocSearchbarModule &#123; &#125;</code>
      </pre>

      <div class="title">
        <h3 id="html"> Inserindo HTML para utilização do componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <pre>
        <code>
        </code>
      </pre>

      <div class="title">
        <h3>
          Exemplo {{ componentitle }}
        </h3>
        <mat-divider></mat-divider>
      </div>

      <div class="example-component">

      </div>

      <div id="diretivas">

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableInput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableOutput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableViewChild"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableHostListener"></doc-tablediretivas>

      </div>

    </div>

    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
    <doc-sidenav [nomeComponente]="name_component"
                 [paramComponente]="path_component"
                 [tituloComponente]="componentitle"></doc-sidenav>
    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
  </div>
</ng-template>


<!--------- HTML BUTTON SPEED DIAL --------->
<ng-template #searchbarhtml>
  <pre>
    <code>
        &lt;div [ngClass]="&#123;'expanded':!collapsed&#125;"
              class="virtue-searchbar"
              fxLayoutAlign="end center"&gt;

           &lt;div class="virtue-searchbar-content"
                fxFlex
                fxLayoutAlign="end center"&gt;

             &lt;label for="virtue-searchbar-input"&gt;
               &lt;!-- BOTÃO DE PESQUISA --&gt;
               &lt;button *ngIf="collapsed"
                       mat-icon-button
                       aria-label="Abre a barra de pesquisa"
                       (click)="expand()"
                       class="fuse-search-bar-expander"&gt;
                 &lt;mat-icon&gt;search&lt;/mat-icon&gt;
               &lt;/button&gt;
             &lt;/label&gt;

             &lt;input [formControl]="queryFieldData"
                    id="virtue-searchbar-input"
                    fxFlex
                    placeholder="Pesquisa"
                    type="text"&gt;

             &lt;button *ngIf='!collapsed'
                     (click)="collapse()"
                     aria-label="Fecha a barra de pesquisa"
                     mat-icon-button&gt;
               &lt;mat-icon&gt;close&lt;/mat-icon&gt;
             &lt;/button&gt;

           &lt;/div&gt;

        &lt;/div&gt;</code>
      </pre>
</ng-template>

<!-- -------- TS BUTTON SPEED DIAL------- -->
<ng-template #searchbarts>
  <pre>
    <code>
        // Angular
        import &#123; Component, ViewEncapsulation, Input  &#125; from '@angular/core';

        // Angular
        import &#123; Component, EventEmitter, Output, ViewEncapsulation &#125; from '@angular/core';
        import &#123; FormControl &#125; from '@angular/forms';

        // Rxjs
        import &#123; debounceTime, distinctUntilChanged &#125; from 'rxjs/operators';

        @Component(&#123;
          selector: 'virtue-searchbar',
          templateUrl: './searchbar.component.html',
          styleUrls: ['./searchbar.component.scss'],
          encapsulation: ViewEncapsulation.None,
        &#125;)
        export class SearchBarComponent &#123;

          //#region Constructor

          constructor() &#123;

          &#125;

          //#endregion

          //#region Implements OnInit

          ngOnInit(): void &#123;

            // Monitora o campo de pesquisa
            this.queryFieldData.valueChanges.pipe(
              debounceTime(400),
              distinctUntilChanged()).subscribe(value => &#123;
                this.doSearch.emit(value);
              &#125;);

          &#125;

          //#endregion

          //#region Public Methods

          public collapse(): void &#123;
            this.collapsed = true;
            this.queryFieldData.setValue("");
          &#125;

          public expand(): void &#123;
            this.collapsed = false;
          &#125;

          //#endregion

          //#region Public Properties

          public collapsed: boolean = true;
          public queryFieldData: FormControl = new FormControl();

          //#endregion

          //#region Output Events

          @Output() doSearch: EventEmitter&lt;string&gt; = new EventEmitter();;

          //#endregion

        &#125;</code>
  </pre>
</ng-template>

<!---------- CSS BUTTON SPEED DIAL------- -->
<ng-template #searchbarcss>
  <pre>
    <code>

    </code>
  </pre>
</ng-template>

<!-- <div class="border-box-complement">

        <div class="header-box-complement">
          <span class="header-title-complement">
            <h3 class="header-box-h3"> {{ componentitle }} Code</h3>
          </span>
          <span class="button-tab-hidden">
            <button (click)="hiddenTabGroupButton()" mat-fab aria-label="Example icon button with a heart icon">
              <i class="fas fa-code">
              </i>
            </button>
          </span>
        </div>

        <div class="mat-tab-group-complement" *ngIf="buttonShow">

          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="HTML">
              <ng-container [ngTemplateOutlet]="searchbarhtml">
              </ng-container>
            </mat-tab>
            <mat-tab label="TYPESCRIPT">
              <ng-container [ngTemplateOutlet]="searchbarts">
              </ng-container>
            </mat-tab>
            <mat-tab label="CSS">
              <ng-container [ngTemplateOutlet]="searchbarcss">
              </ng-container>
            </mat-tab>
          </mat-tab-group>
          <mat-divider></mat-divider>
          <h3>
            Exemplo {{ componentitle }}
          </h3>
          <div style="justify-content: center;">

          </div>
        </div>
      </div> -->
