<mat-tab-group class="tab-group"
               dynamicHeight
               mat-align-tabs="start"
               mat-stretch-tabs="false">
  <mat-tab label="OVERVIEW">
    <ng-container [ngTemplateOutlet]="overview">
    </ng-container>
  </mat-tab>
  <!-- <mat-tab label="API">
    <ng-container [ngTemplateOutlet]="api">
    </ng-container>
  </mat-tab>
  <mat-tab label="EXAMPLE">
    <ng-container [ngTemplateOutlet]="example">
    </ng-container>
  </mat-tab> -->
</mat-tab-group>

<!-- TEMPLATE 1 -->
<ng-template #overview>
  <div class="content">

    <div class="overview">

      <doc-explicacaocomponente [nome-componente]="name_component"
                                [titulo-componente]="componentitle"></doc-explicacaocomponente>

      <div class="title">
        <h3 id="comousarcomponente"> Como utilizar componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <p> Para utilização do componente {{ componentitle }}, importar {{ componentitle | NameModule }} adicionando no
        módulo destino:
      </p>

      <pre>
        <code>
          import &#123; NgModule &#125; from '@angular/core';

          import &#123; CommomModules &#125; from 'projects/virtue/lib/modules/public-api';
          import &#123; DocLoaderComponent &#125; from './doc-loader.component';
          import &#123; DocLoaderRoutingModule &#125; from './doc-loader-routing.module';
          <span>import &#123; LoaderModule &#125; from 'projects/virtue/lib/components/public-api';</span>


          @NgModule(&#123;
            declarations: [
              DocLoaderComponent
            ],
            imports: [
              // Library
              CommomModules,
              <span>LoaderModule,</span>

              // Local
              DocLoaderRoutingModule
            ]
          &#125;)
          export class DocLoaderModule &#123; &#125;</code>
      </pre>

      <div class="title">
        <h3 id="html"> Inserindo HTML para utilização do componente: </h3>
        <mat-divider></mat-divider>
      </div>

      <pre>
        <code>
        </code>
      </pre>

      <div class="title">
        <h3>
          Exemplo {{ componentitle }}
        </h3>
        <mat-divider></mat-divider>
      </div>

      <div class="example-component">

        <div class="virtue-loader-example">

          <virtue-loader *ngIf="busyIndicatorIsVisible"
                         [message]=busyIndicatorMessage
                         imageUrl="assets/images/logos/logo.png">
          </virtue-loader>

          <button (click)="teste()">BUTTON</button>

        </div>

      </div>

      <div id="diretivas">

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableInput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableOutput"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableViewChild"></doc-tablediretivas>

        <doc-tablediretivas [nameComponent]="name_component"
                            [sectionType]="sectionTypeTableHostListener"></doc-tablediretivas>

      </div>

    </div>

    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
    <doc-sidenav [nomeComponente]="name_component"
                 [paramComponente]="path_component"
                 [tituloComponente]="componentitle"></doc-sidenav>
    <!-- ---------------------- NAVIGATION ON RIGHT SIDE -------------------------- -->
  </div>
</ng-template>


<!--------- HTML BUTTON SPEED DIAL --------->
<ng-template #loaderhtml>
  <pre>
    <code>
      &lt;div class="loader-container"
              fxLayout="column"
              fxLayoutAlign="center center"&gt;
        &lt;mat-spinner color="primary"
                        mode="indeterminate"
                        strokeWidth="5"&gt;
        &lt;/mat-spinner&gt;
        &lt;img width="96"
            [src]='imageUrl'&gt;
        &lt;h3 class="loader-message"&gt;&#123; &#123; message &#125;&#125;&lt;/h3&gt;
      &lt;/div&gt;</code>
      </pre>
</ng-template>

<!-- -------- TS BUTTON SPEED DIAL------- -->
<ng-template #loaderts>
  <pre>
    <code>
        // Angular
        import &#123; Component, Inject, InjectionToken, Input &#125; from '@angular/core';

        export const LOADER_IMAGE = new InjectionToken('loaderImage');

        @Component(&#123;
          selector: 'virtue-loader',
          templateUrl: './loader.component.html',
          styleUrls: ['./loader.component.scss']
        &#125;)
        export class LoaderComponent &#123;

          //#region Constructor

          constructor(
            @Inject(LOADER_IMAGE) private _loaderimage) &#123;

            this.imageUrl = _loaderimage;

          &#125;

          //#endregion

          //#region Input Properties

          @Input() imageUrl: string;
          @Input() message: string;

          //#endregion

        &#125;</code>
  </pre>
</ng-template>

<!---------- CSS BUTTON SPEED DIAL------- -->
<ng-template #loadercss>
  <pre>
    <code>

    </code>
  </pre>
</ng-template>

<!-- <div class="border-box-complement">

  <div class="header-box-complement">
    <span class="header-title-complement">
      <h3 class="header-box-h3"> {{ componentitle }} Code</h3>
    </span>
    <span class="button-tab-hidden">
      <button (click)="hiddenTabGroupButton()" mat-fab aria-label="Example icon button with a heart icon">
        <i class="fas fa-code">
        </i>
      </button>
    </span>
  </div>

  <div class="mat-tab-group-complement" *ngIf="buttonShow">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="HTML">
        <ng-container [ngTemplateOutlet]="loaderhtml">
        </ng-container>
      </mat-tab>
      <mat-tab label="TYPESCRIPT">
        <ng-container [ngTemplateOutlet]="loaderts">
        </ng-container>
      </mat-tab>
      <mat-tab label="CSS">
        <ng-container [ngTemplateOutlet]="loadercss">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <h3>
      Exemplo {{ componentitle }}
    </h3>
    <div style="justify-content: center;">

    </div>
  </div>
</div> -->
